/* SCSS Nesting for Nav Bar */
  /* nav bar  */
  .nav ul {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  .nav li {
    margin: 0 1rem 1rem 1rem;
    font-size: 1.3rem;
  }
  .nav logo img {
    max-width: 150px;
  }
  .nav logo {
    flex-basis: 100%;
    text-align: center;
  }
  .nav a {
    color: white;
    text-decoration: none;
    display: block;
  }
  .nav a:hover {
    color: #d98555;
  }

  /* SCSS Nesting for Footer*/
  .footer {
    color: #f2f2f2;
    text-align: center;
    border-top: 10px solid #d98555;
  }
  .footer a {
    color: #f2f2f2;
    font-size: 2rem;
    display: block;
    margin: 0 1rem 3rem 1rem;
  }
  .footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
    